---
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/blog/BlogCard";
import AnimatedTitle from "@/components/AnimatedTitle";
import Footer from "@/components/Footer.astro";
import CustomCursor from "@/components/CustomCursor";

// Add an array of colors to choose from
const colors = [
  "#EC6A5C", // Pepper Red
  "#F09456", // Orange
  "#C1E5C3", // Seafoam
  "#67B6EB", // Powder Blue
  "#D6D2CB", // Grey
  "#96A0FA", // Purple
];

const posts = await Astro.glob("./*.md");
const formattedPosts = posts.map((post) => ({
  slug: post.url?.split("/").pop()?.replace(".md", "") || "",
  title: post.frontmatter.title,
  date: post.frontmatter.date,
  color: post.frontmatter.color || colors[Math.floor(Math.random() * colors.length)],
}));
---

<Layout title="Blog | My Portfolio">
  <CustomCursor client:load />
  <main class="max-w-[1500px] mx-auto px-4 py-6">
    <header class="h-[55vh] mb-6">
      <AnimatedTitle 
      client:only="react"
        text="/blog: My thoughts on [BR] design, music, and culture"
        className="text-3xl font-mono mb-6 font-light bg-[#EDE9E5] rounded-[24px] p-8 sm:p-12 w-full h-full flex items-center"
      />
    </header>
    
    <div class="mt-4">
      {formattedPosts.map((post) => (
        <BlogCard client:load post={post} prefersReducedMotion={false} />
      ))}
    </div>

    <Footer />
  </main>
</Layout>
