---
import { getCollection } from 'astro:content';
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/blog/BlogCard";
import AnimatedTitle from "@/components/AnimatedTitle";
import Footer from "@/components/Footer.astro";
import CustomCursor from "@/components/CustomCursor";

// Get all blog posts and sort them by date
const posts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
}).then(posts => 
  posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
);

// Add an array of colors to choose from
const colors = [
  "#EC6A5C", // Pepper Red
  "#F09456", // Orange
  "#C1E5C3", // Seafoam
  "#67B6EB", // Powder Blue
  "#D6D2CB", // Grey
  "#96A0FA", // Purple
];

const formattedPosts = posts.map((post) => ({
  slug: post.slug,
  title: post.data.title,
  date: post.data.date,
  color: post.data.color || colors[Math.floor(Math.random() * colors.length)],
}));
---

<Layout title="Blog | Benjamin Krogh">
  <CustomCursor client:load />
  <main class="w-full max-w-[1500px] mx-auto">
    <header class="mt-6 mb-12">
      <div class="w-full max-w-[1500px] font-light mx-auto">
        <AnimatedTitle 
          text="/blog: My thoughts on[BR]design, music, and culture"
          id="blog-title"
          client:load
          isHomepage={false}
        />
      </div>
    </header>

    <div class="px-4 space-y-2">
      {formattedPosts.map((post, index) => (
        <BlogCard
          post={{
            slug: post.slug,
            title: post.title,
            date: post.date,
            color: post.color
          }}
          prefersReducedMotion={false}
          client:load
        />
      ))}
    </div>
  </main>

  <Footer />
</Layout>

<style>
  .custom-cursor-area {
    cursor: none !important;
  }

  .custom-cursor-area #custom-cursor {
    display: none !important;
  }

  .custom-cursor-area a,
  .custom-cursor-area button {
    cursor: none !important;
  }

  @media (hover: none) {
    .custom-cursor-area,
    .custom-cursor-area a,
    .custom-cursor-area button {
      cursor: auto !important;
    }
  }
</style>
