---
import { getCollection } from 'astro:content';
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/blog/BlogCard";
import AnimatedTitle from "@/components/AnimatedTitle";
import Footer from "@/components/Footer.astro";
import CustomCursor from "@/components/CustomCursor";
import { formatDate } from "@/utils/blogUtils";
import BlogIndex from "@/components/blog/blogIndex";

// Get all blog posts and sort them by date
const posts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
}).then(posts => 
  posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
);

// Add an array of colors to choose from
const colors = [
  "#EC6A5C", // Pepper Red
  "#F09456", // Orange
  "#C1E5C3", // Seafoam
  "#67B6EB", // Powder Blue
  "#D6D2CB", // Grey
  "#96A0FA", // Purple
];

const formattedPosts = posts.map((post) => ({
  slug: post.slug,
  title: post.data.title,
  date: post.data.date,
  color: post.data.color || colors[Math.floor(Math.random() * colors.length)],
}));
---

<Layout title="Blog | Ben Krogh">
  <div class="custom-cursor-area">
    <CustomCursor client:only="react" />
    <div class="max-w-[1500px] mx-auto px-4">
      <BlogIndex client:load posts={formattedPosts} />
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .custom-cursor-area {
    cursor: none !important;
  }

  @media (hover: none) {
    .custom-cursor-area {
      cursor: auto !important;
    }
  }
</style>
