@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "GeistMono", monospace;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
  }
  h1 {
    font-weight: 300;
    margin-bottom: 124px;
  }

  h1.blog-title {
    font-weight: 300;
    margin-bottom: 124px;
    letter-spacing: -0.043em;
  }

  h1.blog-title span {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

html,
body {
  background-color: #fcfaf7;
  overflow-x: clip;
  /* Global custom cursor styles */
  cursor: none !important;
}

* {
  cursor: none !important;
}

/* Reset for touch devices */
@media (hover: none) {
  html,
  body,
  * {
    cursor: auto !important;
  }
}

/* For Safari and other browsers that don't support smooth scrolling */
@supports not (scroll-behavior: smooth) {
  html {
    overflow-y: auto;
  }
}

/* Optional: Add this if you want to prevent content jump when scrolling */
body {
  min-height: 100vh;
}
