---
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { style } from '@/styles/global.css';

export const getStaticPaths: GetStaticPaths = (async () => {
  const posts = await Astro.glob('./posts/*.md');
  
  return posts.map(post => ({
    params: { 
      slug: post.url?.split('/').pop()?.replace('.md', '')
    },
    props: { post },
  }));
}) satisfies GetStaticPaths;

type Props = {
  post: {
    render(): Promise<{ Content: any }>;
    frontmatter: {
      title: string;
      date: string;
    };
  };
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.frontmatter.title}>
  <div class="max-w-3xl mx-auto px-4">
    <h1 class="font-mono text-3xl mb-4">{post.frontmatter.title}</h1>
    <div class="font-mono text-sm mb-8">{post.frontmatter.date}</div>
    <div class="prose prose-lg prose-headings:font-bold prose-a:text-blue-600">
      <Content />
    </div>
  </div>
</Layout>