---
import Layout from '../../layouts/Layout.astro';
import CaseStudyHeader from '../../components/CaseStudyHeader';
import CaseStudyHero from '../../components/CaseStudyHero';
import { FullWidthImage, TwoByTwoGrid, AsymmetricGrid, ContentImage } from '../../components/CaseStudyImages';
import CaseStudyText from '../../components/CaseStudyText';
import Footer from '../../components/Footer.astro';
import ScrollFadeIn from '../../components/ScrollFadeIn';
const pageTitle = "Bazaar Case Study";
---

<Layout title={pageTitle}>
  <main class="pt-0">
    <div class="container mx-auto px-6">
      <CaseStudyHeader 
        client:load
        title="Bazaar"
        tags={["2017", "E-COMMERCE", "UX DESIGN"]}
        description="Designing a wholesale marketplace from the ground up, from brand to product."
      />
    </div>

    <CaseStudyHero 
      client:load
      imageSrc="/images/bazaar/hero.png"
      alt="Bazaar platform showcase"
    />

    <ScrollFadeIn client:load>
      <TwoByTwoGrid 
        client:load
        images={[
          { src: "/images/bazaar/logo-1.avif", alt: 'Bazaar logo over light background' },
          { src: "/images/bazaar/logo-2.avif", alt: 'Bazaar logo over dark background' },
        ]}
      />
    </ScrollFadeIn>
    
    <CaseStudyText client:load>
      Bodega and convenience store owners don’t have access to modern tools.
While consumers enjoy streamlined ecommerce experiences and easy to use apps, most bodega owners in New York City spend much of their time acquiring their inventory at large, cash-only warehouses. 
      <CaseStudyText.Secondary>
        Our goal was to create a platform that preserves cultural heritage while providing artisans with tools for success in the digital age.
      </CaseStudyText.Secondary>
    </CaseStudyText>

      <ScrollFadeIn client:load>
        <ContentImage 
          client:load
          src="/images/bazaar/styles-1.avif"
        />
      </ScrollFadeIn>
  
      <ScrollFadeIn client:load>
        <ContentImage 
          client:load
          src="/images/bazaar/styles-2.avif"
        />
      </ScrollFadeIn>
      
    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
        Bazaar has to be approachable and easy to use for business owners who aren’t tech savvy. 
        <CaseStudyText.Secondary>
          We created an onboarding system that was easy for business owners to complete, with a setup wizard that continued to guide them through finalizing details for their business.
        </CaseStudyText.Secondary>
     <CaseStudyText.Secondary>
        We knew that time and efficiency was important, so many of the setup questions were all about saving the business owner time. We also ensured they knew how to use the main functionality with a brief breakdown of the interface.
      </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>
  </main>
  <Footer />
</Layout> 