---
import Layout from '../../layouts/Layout.astro';
import CaseStudyHeader from '../../components/CaseStudyHeader';
import CaseStudyHero from '../../components/CaseStudyHero';
import { FullWidthImage, TwoByTwoGrid, AsymmetricGrid, ContentImage } from '../../components/CaseStudyImages';
import CaseStudyText from '../../components/CaseStudyText';
import ScrollFadeIn from '../../components/ScrollFadeIn';
import CaseStudyVideo from '../../components/CaseStudyVideo';
import Footer from '../../components/Footer.astro';

const pageTitle = "eBay Today Case Study";
---

<Layout title={pageTitle}>
  <main class="pt-0">
    <div class="container mx-auto px-6">
      <CaseStudyHeader 
        client:load
        title="eBay"
        tags={["2020", "PRODUCT DESIGN", "MOBILE", "PROTOTYPING"]}
        description="Shopping Channels: A browsing experience tailored for the enthusiasts."
      />
    </div>

    <CaseStudyHero 
      client:load
      imageSrc="/images/ebay/hero.png"
      alt="eBay Today interface showcase"
    />

    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
        While working on the Mobile Growth team at eBay, the team wanted to explore what an experience might look like 
        in eBay's native apps that catered to enthusiast buyers. 
        <CaseStudyText.Secondary>
        We were able to leverage previous hack week explorations to create a feed-like browsing experience filled with fresh content, 
        all curated by eBay experts. I designed this experience and worked with engineers on implementing the components that could be 
          re-used across the app.
        </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <ContentImage 
        client:load
        src="/images/ebay/channelsview.png"
        alt="eBay Today interface showcase"
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <ContentImage 
        client:load
        src="/images/ebay/components.png"
        alt="eBay Today interface showcase"
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyVideo 
        client:load
        src="/images/ebay/Sneaker Channel Angled.mp4"
        deviceFrame="desktop"
        alt="eBay Today interface showcase"
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyVideo 
        client:load
        src="/images/ebay/Watch Channel Dark - angle Framed.mp4"
        deviceFrame="desktop"
        alt="eBay Today interface showcase"
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
        eBay launched Channels for both Sneaker and Watch enthusiast segments in 2021. 
        <CaseStudyText.Secondary>
        Being able to design experiences for eBay's enthusiast buyer community was a great opportunity, and my 
        hope is that this is just the beginning for Channels in eBay's mobile apps. For more information, 
        <a href="https://community.ebay.com/t5/Watches/Enjoy-our-eBay-Channels-Experience-for-the-Latest-Watch-Content/td-p/32003845" target="_blank">check out the press release from eBay.</a>  
        </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>

  </main>
  
  <Footer />
</Layout> 