---
import Layout from '../../layouts/Layout.astro';
import CaseStudyHeader from '../../components/CaseStudyHeader';
import CaseStudyHero from '../../components/CaseStudyHero';
import { FullWidthImage, TwoByTwoGrid, AsymmetricGrid, ContentImage } from '../../components/CaseStudyImages';
import CaseStudyText from '../../components/CaseStudyText';
import CaseStudyVideo from '../../components/CaseStudyVideo';
import ScrollFadeIn from '../../components/ScrollFadeIn';
import Footer from '../../components/Footer.astro';
import CustomerQuote from '../../components/CustomerQuote';

const pageTitle = "Motivmo Case Study";
---

<Layout title={pageTitle}>
  <main class="pt-0">
    <div class="container mx-auto px-6">
      <CaseStudyHeader 
        client:load
        title="Motivmo"
        tags={["2017", "PRODUCT DESIGN", "BRANDING", "DESIGN LEADERSHIP"]}
        description="The easiest way to plan healthy meals and stay motivated."
      />
    </div>

    <ScrollFadeIn client:load>
      <CaseStudyHero 
        client:load
        imageSrc="/images/motivmo/hero.png"
        alt='Motivmo app overview'
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <TwoByTwoGrid 
        client:load
        images={[
          { src: "/images/motivmo/logo-1.png", alt: 'Motivmo app overview' },
          { src: "/images/motivmo/logo-2.png", alt: 'Motivmo app overview' },
        ]}
      />
    </ScrollFadeIn>
    
    <ScrollFadeIn client:load maxWidth="660px">
      <CaseStudyText client:load>
        In the current fitness and recipe space, it isn't hard to find delicious and healthy recipes. The challenge is finding the recipes that work for you, and then find time to create a shopping list and acquire your ingredients.
        <CaseStudyText.Secondary>
          The team at Motivmo wanted to change that. What if they could take high quality recipes, sourced from trusted websites, and integrate with services like Amazon shopping? It was a compelling concept, and I was excited to help their team get a marketing page and product MVP together.
        </CaseStudyText.Secondary>
        <CaseStudyText.Secondary>
          Working with the founders, I designed everything from the primary logo to the marketing page to the product experience itself. The aim was to have the branding and product feel more like a performance oriented technology company, rather than a culinary brand.
        </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>
  
    <ScrollFadeIn client:load>
      <FullWidthImage 
        client:load
        src="/images/motivmo/signup.avif"
        alt='Motivmo app interface overview'
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
       Performance and quality are front and center in the Motivmo home feed experience. A featured collection would be highlighted at the top of the page as an opportunity for brand marketing or partnerships with nutrition publications.
        <CaseStudyText.Secondary>
          Below, the focus was to browse recipes on the platform with an approachable and familiar card interface. Each card could be interacted with from the home feed, and would show you where the recipe was sourced from and allow athletes to save it to their collections.
        </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <FullWidthImage 
        client:load
        src="/images/motivmo/homefeed.avif"
        alt='Motivmo app interface overview'
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
       When viewing the details of the recipe, one of the most important pieces of information was the nutritional information of the meal. 
        <CaseStudyText.Secondary>
          We developed a "Quick stats" section at the top of the recipe view that gave athletes a high level overview of the nutrient breakdown. The meters below each value would correspond to recommendations based on the athletes physical characteristics, along with their fitness goals.
        </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <FullWidthImage 
        client:load
        src="/images/motivmo/recipe.avif"
        alt='Motivmo app interface overview'
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
       Along with subscriptions, one of the monetization strategies of Motivmo's platform was to publish and promote recipe collections curated by other publishers or influencers.  
        <CaseStudyText.Secondary>
          These collections would be shown in the home feed, and would lead to a profile page with branded headers and layouts unique to each publisher.
        </CaseStudyText.Secondary>
      </CaseStudyText>
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <FullWidthImage 
        client:load
        src="/images/motivmo/publisher.avif"
        alt='Motivmo app interface overview'
      />
    </ScrollFadeIn>

    <ScrollFadeIn client:load>
      <CaseStudyText client:load>
        In 2017, Motivmo launched in a closed beta for nutritionists in the Seattle area.
      </CaseStudyText>
    </ScrollFadeIn>
  </main>
  
  <Footer />
</Layout> 