---
import Layout from './Layout.astro';
import CustomCursor from '@/components/CustomCursor';
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  author: string;
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <CustomCursor client:load />
  <article class="w-full max-w-[1320px] mx-auto px-4 py-8">
    <div class="bg-[#EC6A5C] rounded-[32px] h-72 p-8 sm:p-12 pb-12 w-full flex flex-col justify-end">
      <h1 class="font-mono font-light text-[2.5rem] mb-2">{frontmatter.title}</h1>
      <div class="font-mono font-light text-2xl opacity-50">
        <span>{frontmatter.date}</span>
      </div>
    </div>
    <div class="prose mx-auto max-w-[660px]">
      <article>
        <slot />
      </article>
    </div>
  </article>
</Layout>

<style>
	html,
	body {
		margin: 0;
		background-color: #FCFAF7;
		width: 100%;
		height: 100%;
	}
</style>